<!DOCTYPE html>
<html lang="{{ .Config.Lang }}">
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Post.FrontMatter.Title }}</h1>
    </header>
    <main>
        {{- if .Post.FrontMatter.Image }}
        <img {{ if .Post.FrontMatter.Alt }}alt="{{ .Post.FrontMatter.Alt }}" {{ end }}src="{{ .Post.FrontMatter.Image }}">
        {{- end }}
        {{ .Content }}
        <div>{{ .Related }}</div>
    </main>
    <div>–</div>
    <div style="font-size: 85%;">
        Author: <a href="mailto:{{ .Post.FrontMatter.Email}}">{{ .Post.FrontMatter.Author }}</a><br>
        Published: {{ .Post.FrontMatter.Published }}<br>
        {{- if .Post.Related }}
            Related Posts: <ul>
            {{ range .Post.Related }}
            <li> <a href="{{ .URL }}">{{ .FrontMatter.Title }}</a> </li>
            {{ end }}</ul>
        {{- end }}
        {{- if .Tags }}
        Tags:
            {{ range .Tags }}
                🏷️ <a href="{{ .URL }}">{{ .TagName }}</a>
            {{ end }}
        <br>
        {{ else }}
        {{- end }}
    </div>
    {{ template "footer" . }}
</body>
</html>

