<!DOCTYPE html>
<html lang="{{ .Config.Lang }}">
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Post.Title }}</h1>
        <p>Published: {{ .Post.Published }}</p>
        {{- if .Tags }}<p>
        Tags:
            {{ range .Tags }}
                <a href="{{ .URL }}">{{ .TagName }}</a>
            {{ end }}
        {{ else }}
        </p>{{ end }}
        <p><a href="../">{{ .Config.BackLabel }}</a></p>
    </header>
    <main>
        {{- if .Post.Image }}
        <img {{ if .Post.Alt }}alt="{{ .Post.Alt }}" {{ end }}src="{{ .Post.Image }}">
        {{- end }}
        {{ .Content }}
    </main>
    {{ template "footer" . }}
</body>
</html>

