<!DOCTYPE html>
<html>
<head>
    <title>{{ .Headers.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="author" content="{{ .Author }}"/>
    <meta name="copyright" content="{{ .Copyright }}"/>
    <meta name="revision" content="draft/{{ .Version }}"/>
    <meta name="updated" content="{{ .Now }}"/>
    {{- if .CSSFiles }}
        {{- range .CSSFiles }}
    <link rel="stylesheet" href="{{ . }}">
        {{- end }}
    {{- end }}
    {{- if .JSFiles }}
        {{- range .JSFiles }}
    <script src="{{ . }}"></script>
        {{- end }}
    {{- end }}
    <meta name="robots" content="index,follow"/>
</head>
<body>
    <header>
        <h1>{{ .Author }}</h1>
        <p><a href="../">&lt;&lt;</a></p>
        <p>Published: {{ .Headers.published }}</p>
    </header>
    <main>
        {{ .Content }}
    </main>
    <footer>
        <p>{{- if .Tags }}
        Tags:
            {{ range .Tags }}
                <a href="../tags/{{ . }}/index.html">{{ . }}</a>
            {{ end }}
        | {{ end }} | <a href="/rss.xml">RSS</a> | &copy; {{ .Copyright }} | Built with <a href="https://github.com/harrisonpage/draft">Draft</a> Version {{ .Version }}
        </p>
    </footer>
</body>
</html>

