<!DOCTYPE html>
<html lang="{{ .Config.Lang }}">
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Config.BlogName }}</h1>
    </header>
    <main>
        <h1>{{ .Title }}</h1>
        <p>Published: {{ .Published }}</p>
        {{ .Content }}
        <h2>More Posts</h2>
        <table>
            {{ range .Posts }}
            <tr>
                {{- if .Favicon }}<td>{{ .Favicon }}</td>{{- end }}
                <td> <a href="{{ .URL }}">{{ .Title }}</a> </td>
                <td> {{ .PubDate }} </td>
            </tr>
            {{- end}}
        </table>
    </main>
    {{ template "footer" . }}
</body>
</html>

