<!DOCTYPE html>
<html lang="{{ .Config.Lang }}">
{{- template "header" . }}
<body>
    <header>
        <h1>{{ .Config.BlogName }}</h1>
    </header>
    <main>
        <h2>Posts</h2>
        <table>
            {{- range .Posts }}
            <tr>
                {{- if .Image }}<td style="width: 33%;"><img {{ if .Alt }}alt="{{ .Alt }}" {{ end }}src="{{ .Image }}"></td>{{- end }}
                <td style="width: 66%;"> {{- if .Favicon }}{{ .Favicon }}{{- end }} <a href="{{ .URL }}">{{ .Title }}</a>
                <div>{{ .PubDate }}</div></td>
            </tr>
            {{- end }}
        </table>
    </main>
    {{- template "footer" . }}
</body>
</html>

