<!DOCTYPE html>
<html>
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Config.BlogName }}</h1>
    </header>
    <main>
        <ul>
        {{ range .Posts }}
            <li>
                <h2><span>{{ .Favicon }}</span> <a href="{{ .URL }}">{{ .Title }}</a></h2>
                <p><strong>{{ .Published }}</strong></p>
                <p>{{ .Description }}</p>
                <p><img src="{{ .Image }}" alt="{{ .Title }}" style="max-width:200px;"></p>
            </li>
        {{ end }}
        </ul>
    </main>
    {{ template "footer" . }}
</body>
</html>

