<!DOCTYPE html>
<html>
<head>
    <title>Posts Tagged "{{ .Key }}"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="author" content="{{ .Author }}"/>
    <meta name="copyright" content="{{ .Copyright }}"/>
    <meta name="revision" content="draft/{{ .Version }}"/>
    <meta name="updated" content="{{ .Now }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="{{ .RSSLink }}"/>
    {{- if .CSSFiles }}
        {{- range .CSSFiles }}
    <link rel="stylesheet" href="{{ . }}">
        {{- end }}
    {{- end }}
    {{- if .JSFiles }}
        {{- range .JSFiles }}
    <script src="{{ . }}"></script>
        {{- end }}
    {{- end }}
    <meta name="robots" content="index,follow"/>
</head>
<body>
    <header>
        <h1>Posts Tagged "{{ .Key }}"</h1>
        <p><a href="../index.html">← Back to Tags</a></p>
    </header>
    <main>
        <ul>
        {{ range .Value }}
            <li>
                <h2><a href="{{ .URL }}.html">{{ .Title }}</a></h2>
                <p>{{ .Description }}</p>
                <p><strong>Published:</strong> {{ .Published }}</p>
                <p><img src="{{ .Image }}" alt="{{ .Title }}" style="max-width:200px;"></p>
                <p><span>{{ .Favicon }}</span></p>
            </li>
        {{ end }}
        </ul>
    </main>
    <footer>
        <a href="{{ .TagsLink }}">Tags</a> | <a href="{{ .RSSLink }}">RSS</a> | &copy; {{ .Copyright }} | Built with <a href="https://github.com/harrisonpage/draft">Draft</a> Version {{ .Version }}
    </footer>
</body>
</html>
