<!DOCTYPE html>
<html lang="{{ .Config.Lang }}">
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Config.BlogName }}</h1>
        <h2>Posts Tagged "{{ .Key }}"</h2>
        <p><a href="../index.html">{{ .Config.BackLabel }}</a></p>
    </header>
    <main>
        <ul>
        {{ range .Value }}
            <li>
                <h2><span>{{ .FrontMatter.Favicon }}</span> <a href="{{ .URL }}">{{ .FrontMatter.Title }}</a></h2>
                <p>{{ .FrontMatter.Description }}</p>
                <p><strong>Published:</strong> {{ .FrontMatter.Published }}</p>
                {{- if .FrontMatter.Image }}
                <p><img src="{{ .FrontMatter.Image }}" alt="{{ .FrontMatter.Title }}" style="max-width:200px;"></p>
                {{- end }}
            </li>
        {{ end }}
        </ul>
    </main>
    {{ template "footer" . }}
</body>
</html>
