<!DOCTYPE html>
<html>
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Config.BlogName }}</h1>
        <h2>All Tags</h2>
        <p><a href="../index.html">{{ .Config.BackLabel }}</a></p>
    </header>
    <main>
        <ul>
        {{ range $tag, $posts := .Tags }}
            <li>
                <h2><a href="{{ $tag.URL }}">{{ $tag.TagName }}</a></h2>
                <p>{{ len $posts }} post(s) tagged with "{{ $tag.TagName }}"</p>
            </li>
        {{ end }}
        </ul>
    </main>
    {{ template "footer" . }}
</body>
</html>
