<!DOCTYPE html>
<html>
{{ template "header" . }}
<body>
    <header>
        <h1>{{ .Config.BlogName }}</h1>
        <h2>Posts Tagged "{{ .Key }}"</h2>
        <p><a href="../index.html">{{ .Config.BackLabel }}</a></p>
    </header>
    <main>
        <ul>
        {{ range $tag, $posts := .Tags }}
            <li>
                <h2><a href="./{{ $tag }}/index.html">{{ $tag }}</a></h2>
                <p>{{ len $posts }} post(s) tagged with "{{ $tag }}"</p>
                <ul>
                {{ range $posts }}
                    <li><a href="../{{ .Link }}.html">{{ .Title }}</a></li>
                {{ end }}
                </ul>
            </li>
        {{ end }}
        </ul>
    </main>
    {{ template "footer" . }}
</body>
</html>

